<ion-header>
  <ion-toolbar>
    <ion-title>Spread {{Monster.Name}} Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-img src="{{Monster.Picture}}" class="modalSprite"></ion-img>
        </ion-col>
        <ion-col >
          <ion-text>{{Monster.Description}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-label style="font-size:12px">HP</ion-label>
      <ion-range [(ngModel)]="Monster.Hp_init" min="1" max="55" step="1" pin color="danger">
        <ion-icon slot="start" size="small" color="danger" name="heart"></ion-icon>
        <ion-icon slot="end" color="danger" name="heart"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label style="font-size:12px">STRENGTH<ion-badge [(ngModel)]="Monster.Strength_init" color="secondary" class="badge badge-ios badge-ios-secondary"></ion-badge></ion-label>
      <ion-range [(ngModel)]="Monster.Strength_init" name="strength" min="1" max="55" step="1" value="5" pin color="success">
        <ion-icon slot="start" size="small" color="danger" name="heart"></ion-icon>
        <ion-icon slot="end" color="danger" name="heart"></ion-icon>
      </ion-range>

    </ion-item>
    <ion-item>
      <ion-label style="font-size:12px">TOUGHNESS</ion-label>
      <ion-range [(ngModel)]="Monster.Toughness_init" min="1" max="55" step="1" value="5" pin color="primary">
        <ion-icon slot="start" size="small" color="danger" name="heart"></ion-icon>
        <ion-icon slot="end" color="danger" name="heart"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label style="font-size:12px">SMARTNESS</ion-label>
      <ion-range [(ngModel)]="Monster.Smartness_init" min="1" max="55" step="1" value="5" pin color="warning">
        <ion-icon slot="start" size="small" color="danger" name="heart"></ion-icon>
        <ion-icon slot="end" color="danger" name="heart"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-button color="danger" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
