<ion-header>
  <ion-toolbar>
    <ion-title>{{Monster.Name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <!-- Monster Description Box -->
      <ion-row>
        <ion-col>
          <ion-img src="{{Monster.Picture}}" class="modalSprite"></ion-img>
        </ion-col>
        <ion-col >
          <ion-text>{{Monster.Description}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- Points -->
    <ion-item class="ion-text-center">
      <ion-label style="font-size:16px"><i style="color:grey">Points Allowed: </i><ion-badge color="dark">{{Points}}</ion-badge></ion-label>
    </ion-item>
    <!-- HEALTH -->
    <ion-item>
      <ion-row size="auto">
        <ion-col>
          <ion-label style="font-size:12px">HEALTH (HP)</ion-label>
        </ion-col>
        <ion-col>
          <ion-button [disabled]="checkIfPoints('= 10', 0, Monster.Hp_init)" (click)="modStat(-1, 'HP')">-</ion-button>
          <ion-button [disabled]="checkIfPoints('= 0')" (click)="modStat(1, 'HP')">+</ion-button>
        </ion-col>
      </ion-row>
      <ion-badge color="danger" class="ion-text-center">{{Monster.Hp_init}}</ion-badge>
      <ion-progress-bar id="HpBar" name="HpBar" color="danger" value="{{getStatForBar(Monster.Hp_init)}}"></ion-progress-bar>
    </ion-item>
    <!-- STRENGTH -->
    <ion-item>
      <ion-row>
        <ion-col size="auto">
          <ion-label style="font-size:12px">STRENGTH</ion-label>
        </ion-col>
        <ion-col>
          <ion-button [disabled]="checkIfPoints('= 10',1, Monster.Strength_init)" (click)="modStat(-1, 'Strength')">-</ion-button>
          <ion-button [disabled]="checkIfPoints('= 0')" (click)="modStat(1, 'Strength')">+</ion-button>
        </ion-col>
      </ion-row>
      <ion-badge color="success" class="ion-text-center">{{Monster.Strength_init}}</ion-badge>
      <ion-progress-bar color="success" value="{{getStatForBar(Monster.Strength_init)}}"></ion-progress-bar>
    </ion-item>
    <!-- TOUGHNESS -->
    <ion-item>
      <ion-row size="auto">
        <ion-col>
          <ion-label style="font-size:12px">TOUGHNESS</ion-label>
        </ion-col>
        <ion-col>
          <ion-button [disabled]="checkIfPoints('= 10', 2, Monster.Toughness_init)" (click)="modStat(-1, 'Toughness')">-</ion-button>
          <ion-button [disabled]="checkIfPoints('= 0')" (click)="modStat(1, 'Toughness')">+</ion-button>
        </ion-col>
      </ion-row>
      <ion-badge color="primary" class="ion-text-center">{{Monster.Toughness_init}}</ion-badge>
      <ion-progress-bar color="primary" value="{{Monster.Toughness_init / 80}}"></ion-progress-bar>
    </ion-item>
    <!-- SMARTNESS -->
    <ion-item>
      <ion-row size="auto">
        <ion-col>
          <ion-label style="font-size:12px">SMARTNESS</ion-label>
        </ion-col>
        <ion-col>
          <ion-button [disabled]="checkIfPoints('= 10', 3, Monster.Smartness_init)" (click)="modStat(-1, 'Smartness')">-</ion-button>
          <ion-button [disabled]="checkIfPoints('= 0')" (click)="modStat(1, 'Smartness')">+</ion-button>
        </ion-col>
      </ion-row>
      <ion-badge color="warning" class="ion-text-center">{{Monster.Smartness_init}}</ion-badge>
      <ion-progress-bar color="warning" value="{{Monster.Smartness_init / 80}}"></ion-progress-bar>
    </ion-item>
    <!-- BUTTONS -->
    <ion-item>
      <ion-button color="danger" (click)="closeModal()">
        Cancel
      </ion-button>
      <ion-button color="success"  (click)="startGame(Monster); closeModal()">
        Start
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<!--[disabled]="checkIfPoints('> 0')"-->
