<ion-header>
  <ion-toolbar>
    <ion-title>
      Beast of the Bayou
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pane">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col color="success" class="title" size="auto">
          PICK A MONSTER
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center" *ngFor="let m of Monsters">
        <ion-col size="auto" class="choice" (click)="setStats(MobName)">
          <div>
            <ion-label color="success">{{MobName}}</ion-label>
          </div>
          <img class="sprite" src={{MobPic}}/><br/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="setStats()">
            DO STUFF
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
