<ion-header>
  <ion-toolbar>
    <ion-title>
      Beast of the Bayou
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pane">
    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <!--<ion-col class="align-self-start">
          ion-col [start]
        </ion-col>-->
        <ion-col size="auto" >
          <div>
            <ion-label color="success">OGRE</ion-label>
          </div>
          <img class="sprite" src="./assets/ogre.png"/><br/>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-label color="success">WEREWOLF</ion-label>
          </div>
          <img class="sprite" src="./assets/werewolf.png"/>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-label color="success">XENOMORPH</ion-label>
          </div>
          <img class="sprite" src="./assets/Xenomorph.png"/>
        </ion-col>
        <ion-col size="auto">
        <div>
          <ion-label color="success">ZOMBIE</ion-label>
        </div>
        <img class="sprite" src="./assets/braaains.png"/>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
