<ion-header>
  <ion-toolbar>
    <ion-title>
      Beast of the Bayou
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pane">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col color="success" class="title" size="auto">
          PICK A MONSTER
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" >
        <ion-col size="auto" class="choice" *ngFor="let m of Monsters" (click)="setStats(m)">
          <img class="sprite" src="{{m.Picture}}"/><br/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
